@import url(fonts.css);

.page {
  font-family: "Golos";
  margin: 0;
}

.main {
  padding-top: 56px;
  padding-bottom: 56px;
  margin: 0 auto;
  max-width: 1150px;
}

.info {
  max-width: 574px;
  margin-right: 112px;
  transition: opacity 0.9s, transform 0.9s;
  opacity: 0;
  transform: translateY(-20px);
}

.info-visible {
  opacity: 1;
  transform: translateY(0);
}

.info__title {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 110%;
  margin: 0;
}

.info__subtitle {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  padding-top: 16px;
}

.image-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  background-image: url("/images/back.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 467px;
  height: 467px;
}

.swiper-container {
    position: relative;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  transition: opacity 0.9s !important;
  opacity: 0;
}

.swiper-slide-active {
  opacity: 1;
}

.slider-image {
  width: auto;
  height: 329px;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  background: #ffffff;
  padding: 0;
  border: none;
  cursor: pointer;
  width: 56px !important;
  height: 56px !important;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0 !important;
  transform: translateY(-50%);
}

.swiper-button-prev {
  background-image: url("/images/left.svg");
  left: 0;
  transform: translate(-50%, -50%);
}

.swiper-button-next {
  background-image: url("/images/right.svg");
  right: 0;
  transform: translate(50%, -50%);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}

.button {
  display: flex;
  align-items: center;
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

.button__icon {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

.button__subtitle {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  margin: 0;
}

.table {
  margin-top: 64px;
}


.table__container {
  display: grid;
  gap: 8px;
  margin-bottom: 32px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;
  transition: max-height 0.5s ease;
}

.table__container .cell:nth-child(n+10) {
  display: none;
}

.cell {
  flex: 0 0 auto;
  width: 120px;
  height: 118px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell:last-child {
  gap: 0;
}

.cell__title {
  margin: 0;
  padding-top: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
}

.cell__image {
  width: auto;
  height: 64px;
}

.table__container.show-all .cell {
  display: flex;
}

@media screen and (max-width: 1279px) {
  .main {
    padding-top: 64px;
    padding-bottom: 64px;
    max-width: 720px;
  }

  .info {
    max-width: 640px;
    margin-right: 0;
    z-index: 5;
    margin-top: 438px;
  }

  .image-block {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    position: relative;
  }

  .table {
    margin-top: 48px;
  }

  .swiper-container {
    position: absolute;
    top: 0;
  }

  .cell {
    width: 113px;
  }

  .swiper-button-prev {
    left: -100px !important;
  }

  .swiper-button-next {
    right: -100px !important;
  }

  .table__container {
    grid-template-columns: repeat(6, 1fr);
  }

  .table__container .cell:nth-child(n+7) {
    display: none;
  }

  .table__container.show-all .cell {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .main {
    padding-top: 65px;
    padding-bottom: 38px;
    max-width: 328px;
  }

  .info {
    max-width: 296px;
    margin-top: 304px;
  }

  .table {
    margin-top: 55px;
  }

  .swiper {
    width: 319px;
    height: 319px;
    background-size: cover;
  }

  .slider-image {
    width: 224px;
    height: 224px;
  }

  .info__title {
    font-size: 20px;
    line-height: 120%;
  }

  .info__subtitle {
    padding-top: 12px;
    font-size: 14px;
    line-height: 171%;
  }

  .cell {
    width: 104px;
  }

  .icon {
    width: 7px;
    height: 9px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 36px !important;
    height: 36px !important;
  }

  .swiper-button-prev {
    background-image: url("/images/left-small.svg");
    left: 0 !important;
  }

  .swiper-button-next {
    background-image: url("/images/right-small.svg");
    right: 0 !important;
  }

  .table__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
